@charset "utf-8";

/*main*/

/*footer*/
.re_footer_wrap{
    font-family: 'Jeju Gothic', serif !important;
}

.re_footer_container{
    background: #ffffff;
    width: 100%;
    margin: auto;
    padding: 20px 0 10px;
}

.re_footer_logo{
    width: 100%;
    display: block;
    text-align: center;
    vertical-align: top;
    margin-bottom: 10px;
}

.re_footer_text{
    font-family: 'Jeju Gothic', serif !important;
    width: 100%;
    display: block;
    text-align: center;
    vertical-align: top;
}

.re_footer_text>a{
    font-family: 'Jeju Gothic', serif !important;
}

/*tltle*/
.re_title_con{
    font-family: 'Jeju Gothic', serif !important;
    width: 100%;
    height: 50px;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    background: #f1f1f1;
    border-bottom: solid 1px #CCCCCC;
    margin-bottom: 5px;
}

